@tailwind base;
@layer base{
/**HomeHeader.tsx**/
.home-header__logo{
    font-family: "Dancing Script",cursive !important;
    @apply text-4xl text-white self-center ml-4; 
}
.home-header__bar{
    @apply flex bg-gradient-to-r from-primary to-secondary sm:h-[60px] h-[80px] justify-between;
}
/**HomeCardInfo.tsx**/
.home-card-info__container{
    border-radius: 10px;
    box-shadow: 1px 2px 9px 0px #1010106b; 
    background: white;
    margin: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
.home-card-info__container p{
    margin: 0px !important;
}
.home-card-info__actions{
    align-self: center;
}
.home-card-info__actions svg{
    font-size: x-large;
    color: green;

}
/**HomeList.tsx**/
.home-list__container{
    display: flex;
}
.home-list__container div{
    /* margin: auto; */
    margin-top: 16px;
}
.home-list__scroll{
    @apply max-h-[55vh] overflow-y-auto mt-8 rounded-xl 
}

}
