@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .login-container {
        @apply flex w-full h-full;
    }

    .login-header {
        @apply m-auto rounded-[10px] relative max-w-[500px] text-center bg-white dark:bg-red-50 shadow-[1px_2px_9px_0px_#1010106b];
    }

    .login-container h3 {
        @apply text-green-900 text-xl;
    }

    .login-container img {
        @apply w-full;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .login-body {
        @apply -mt-[130px] mb-[50px];
    }

    .login-container__form {
        @apply flex justify-center mx-4 mt-8;
    }

    .login-link {
        @apply underline text-green-900;

    }
    .login-logo{
        font-family: "Dancing Script",cursive !important;
        @apply text-4xl text-white top-12 left-0 right-0 absolute text-center;
    }
}