@tailwind base;
@tailwind components;
@tailwind utilities;

html,p,label{
    font-family: "Comfortaa", sans-serif !important;
}
@layer base {
    .app-background{
        @apply overflow-hidden h-[98vh] dark:!bg-gray-900 !bg-[#f3f3f3];
    }
    html{
       @apply dark:!bg-gray-900 !bg-[#f3f3f3]
    }
    .btn-primary{
        @apply !text-white;        
    }
    .btn-secondary{
        @apply !bg-transparent !border-2 !border-secondary !text-secondary
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        display: none; /* Chrome, Safari, Edge */
    }
    p,h1,h2,h3,h4,h5,h6{
        @apply dark:text-white text-gray-700
    }
    .app-loading {
	@apply h-screen w-screen z-[100] bg-gray-500 dark:bg-gray-800 opacity-75 flex absolute;
}
   

}